body,
html {
  overflow-x: hidden;
}

.App .heroContainer {
  background-image: url("../../public/bild2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerTitle {
  color: white;
  text-align: center;
  padding-top: 6rem;
  margin-top: 0;
  width: 100%;
  font-size: 4rem;
  font-weight: 800;
  font-family: sans-serif;
}

.buttonContainer {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.heroButton {
  border: 0;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 1rem 2.2rem;
  cursor: pointer;
  background-color: #e4e4e4;
  font-family: sans-serif;
}
.heroButton:hover {
  background-color: #ffffff;
}

.heroButton2 {
  border: 0;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 1rem 2.2rem;
  cursor: pointer;
  background-color: #e4e4e4;
  font-family: sans-serif;
}
.heroButton2:hover {
  background-color: #ffffff;
}

.heroButton3 {
  border: 0;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 1rem 2.2rem;
  cursor: pointer;
  background-color: #e4e4e4;
  font-family: sans-serif;
}
.heroButton3:hover {
  background-color: #ffffff;
}

.heroButton4 {
  border: 0;
  border-radius: 1.5rem;
  font-weight: 600;
  padding: 1rem 2.2rem;
  cursor: pointer;
  background-color: #e4e4e4;
  font-family: sans-serif;
}
.heroButton4:hover {
  background-color: #ffffff;
}

.mainWrapper {
  width: 100%;
  height: 100vh;
  padding: 10rem;
  font-family: sans-serif;
}

.buttonNästa {
  border: 0;
  border-radius: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #e4e4e4;
  font-family: sans-serif;
  margin-top: 5px;
}
.buttonNästa:hover {
  background-color: #94d3a2;
}

.buttonNästa:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.buttonNästa:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.buttonVisaResultat {
  border: 0;
  border-radius: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #e4e4e4;
  font-family: sans-serif;
  margin-top: 5px;
}

.buttonVisaResultat:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.buttonVisaResultat:hover {
  background-color: #94d3a2;
}

.buttonVisaResultat:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}
.buttonVisaResultat:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.buttonFörgående {
  border: 0;
  border-radius: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #e4e4e4;
  font-family: sans-serif;
  margin-left: 3px;
  margin-top: 5px;
}

.buttonFörgående:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.buttonFörgående:hover {
  background-color: #94d3a2;
}

.buttonFörgående:disabled {
  background-color: #e4e4e4;
  border-color: rgba(27, 31, 35, 0.1);
  color: grey;
  cursor: default;
}
.buttonFörgående:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
